################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WhoWantsToBeAMillionaire/.vs/WhoWantsToBeAMillionaire/v14
