@model IEnumerable<WhoWantsToBeAMillionaire.Models.User>

@{
    Layout = null;
}

@{
    ViewBag.Title = "GameOver";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameOver</title>
</head>
<body>
    <p>Game Over</p>
    <table class="table">
        <tr>
            <th>
                123
            </th>
            <th>
                456
            </th>
            <th>
                789
            </th>
        </tr>

        <tr>
            <td>
                abc
            </td>
            <td>
                def
            </td>
            <td>
                ghi
            </td>
        </tr>


    </table>
</body>
</html>
