@model WhoWantsToBeAMillionaire.Repositories.Answer

@{
    Layout = null;
}
@{
    ViewBag.Title = "GameOver";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
   <p>Game Over</p>
</body>
</html>
