@model IEnumerable<WhoWantsToBeAMillionaire.Models.User>

@{
    ViewBag.Title = "GameOver";
}

<div class="title-game-over">
    <h2>You lose or You Win</h2>
</div>

<div class="winning">
    <h1>You won 1000000 $</h1>
</div>

<input type="button" value="Play Again" onclick="location.href='http://localhost:56835/User/Start'" class="btn btn-default btn-new-game" />


