@model IEnumerable<WhoWantsToBeAMillionaire.Models.User>

@{
    ViewBag.Title = "GameOver";
}

<div class="winning">
    <h1>You won @Session["AchievedSum"]</h1>
</div>

<input type="button" value="Play Again" onclick="location.href='http://localhost:56835/User/Start'" class="btn btn-default btn-new-game" />


