@model WhoWantsToBeAMillionaire.Models.User

@{
    ViewBag.Title = "Start";
}

<audio src="~/Content/Audio/stufe_1.mp3" autoplay="autoplay" loop="loop"> </audio>
<h2>Hello @Session["Name"].ToString()</h2>
<div class="tips">
    <input type="submit" value=" " class="btn btn-default fifty" />
    <input type="submit" value=" " class="btn btn-default team" />
    <input type="submit" value=" " class="btn btn-default call" />
</div>

<div class="title-logo"> </div>
<div class="form-group">
    <div class="questions">
        Here will be questions
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="First answer" class="btn btn-default" />
        <input type="submit" value="Second answer" class="btn btn-default" />
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Third answer" class="btn btn-default" />
        <input type="submit" value="Fourth answer" class="btn btn-default" />
    </div>
</div>

