@model WhoWantsToBeAMillionaire.Models.User

@{
    ViewBag.Title = "Start";
}

<audio src="~/Content/Audio/stufe_1.mp3" autoplay="autoplay" loop="loop"> </audio>
<h2>Hello @Session["Name"].ToString()</h2>

