@using WhoWantsToBeAMillionaire.ViewModels

@model StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<p>

</p>

<div>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Achieved Sum
            </th>
        </tr>

        @foreach (var user in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(Model => user.Name)
            </td>
            <td>
                @Html.DisplayFor(Model => user.Sum)
            </td>
        </tr>
        }

    </table>
</div>
